@import url(https://fonts.googleapis.com/css?family=Michroma&display=swap);



body {
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #ff5900 8%, #000a9b 100%);
}

p {
    color: white;
}

.nav-link {
    color: rgb(252, 252, 252);
}

.navbar-nav .nav-link.active {
    color: rgb(255, 68, 0);
}

.navbar-brand img {
    width: 30px;
}


.navbar-toggler {
    background-color:rgb(216, 216, 216);
    
}

.sidebar {
    color: rgb(255, 255, 255);
    background: linear-gradient(270deg, #e65000 8%, #000cb8 100%);
    padding: 15px;
    font-size: 13px;
    border-radius: 5px;
}

.card {
    background: linear-gradient(270deg, #e65000 8%, #000cb8 100%);    
    color: rgb(255, 255, 255);
    border: none;
    font-size: 15px;
}

.card a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.slide-text,
.footer-text {
    color: rgb(255, 255, 255);
    margin: auto auto;
}

footer,
.btn-outline-primary {
    background: linear-gradient(270deg, #e65000 8%, #000cb8 100%);
    color: white;
}

.btn-outline-primary:hover {
    Color: rgb(166, 166, 166);
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}


.call-animation {
    animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

/* Quita los botones de abajo
en moviles, para que no se
entrecrucen con el texto. */
@media (max-width:755px) {
    .carousel-indicators {
        display: none;
    }
}

